/*HOME*/

body,
html {
  min-height: 100vh;
  padding: 0;
  margin: 0;
  font-family: Verdana;
  background-color: #353535;
  overflow-x: hidden;
}

.container {
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 150px;
  color: #bdbdbd;
}

.text {
  text-align: center;
  margin: auto;
  margin-top: 100px;
}

.image {
  display: flex;
  justify-content: center;
  align-items: center;
}

.text h2 {
  margin-top: 0;
  margin-left: 200px;
  justify-content: center;
  background: linear-gradient(
    0deg,
    rgba(79, 147, 248, 1) 0%,
    rgba(185, 107, 196, 1) 100%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

nav h2 {
  margin: 0;
  font-size: 18px;
  text-transform: uppercase;
  letter-spacing: 4px;
  background: -webkit-linear-gradient(#eee, #333);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.text .social {
  margin-left: 200px;
}

p {
  color: #ffffff;
}

.cardsm p {
  font-size: 15px;
  text-align: center;
  justify-content: center;
  margin: auto;
  margin-left: 0px;
}

.logo {
  width: 60px;
  height: 50px;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 8vh;
  width: 100%;
  background: #23232e;
  box-shadow: 10px 10px #161616;
  border-radius: 10px;
}

nav ul {
  display: flex;
  list-style: none;
}

nav li {
  letter-spacing: 3px;
  margin-left: 32px;
}

nav li a {
  color: #ffffff;
  text-decoration: none;
  transition: 0.3s;
}

nav li a:hover {
  opacity: 0.5;
}

.mobile-menu {
  display: none;
  cursor: pointer;
  position: relative;
  z-index: 2;
}

.mobile-menu div {
  width: 32px;
  height: 2px;
  background: #fff;
  margin: 8px;
}

@media (max-width: 999px) {
  body {
    overflow-x: hidden;
  }

  .nav-list {
    position: absolute;
    top: 6vh;
    right: 0;
    width: 50%;
    height: 80vh;
    background: #23232e;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    transform: translateX(100%);
    transition: transform 0.3s ease-in;
    z-index: 3; /* Adicionado */
  }

  .nav-list li {
    margin-left: 0;
    opacity: 0;
  }

  .mobile-menu {
    display: block;
  }

  .nav-list.active {
    position: absolute;
    transform: translateX(0);
  }

  .image {
    display: flex;
    margin: auto;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
  }
}

@keyframes navLinkFade {
  form {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.mobile-menu.active .line1 {
  transform: rotate(-45deg) translate(-8px, 8px);
}

.mobile-menu.active .line2 {
  opacity: 0;
}

.mobile-menu.active .line3 {
  transform: rotate(45deg) translate(-5px, -7px);
}

/*Rodapé*/

.footer-basic {
  width: 100%;
  height: 270px;
  background: #23232e;
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(4.3px);
  -webkit-backdrop-filter: blur(4.3px);
  padding: 25px;
  color: #ffffff;
  align-items: center;
  justify-content: center;
  bottom: 0;
  margin-bottom: 0;
}

.footer-basic ul {
  padding: 0;
  list-style: none;
  text-align: center;
  font-size: 18px;
  line-height: 1.6;
  margin-bottom: 0;
}

.footer-basic li {
  padding: 0 10px;
}

.footer-basic ul a {
  color: inherit;
  text-decoration: none;
  opacity: 0.8;
}

.footer-basic ul a:hover {
  opacity: 1;
}

.social {
  display: flex;
  justify-content: center;
  text-align: center;
  padding-bottom: 25px;
  position: relative; /* Adicionado */
  z-index: 1; /* Adicionado */
}
.social > a {
  font-size: 24px;
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  border-radius: 50%;
  border: 1px solid #ccc;
  margin: 0 8px;
  color: inherit;
  opacity: 0.75;
}

.social > a :hover {
  transform: translateY(-2px);
  opacity: 1;
}

.footer-basic .copyright {
  margin-top: 15px;
  text-align: center;
  font-size: 13px;
  color: #aaa;
  margin-bottom: 0;
}

.social-instagram {
  content: url("https://api.iconify.design/skill-icons/instagram.svg");
}

.social-linkedin {
  content: url("https://api.iconify.design/devicon/linkedin.svg");
}

.social-twitter {
  content: url("https://api.iconify.design/devicon/twitter.svg");
}

.social-facebook {
  content: url("https://api.iconify.design/logos/facebook.svg");
}

/*Contato*/

.mam {
  border: 2px solid #161616;
  border-radius: 20px;
  box-sizing: border-box;
  color: #fff;
  display: inline-block;
  font-size: 16px;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  transition: all 300ms;
  margin-bottom: 20px;
  margin-left: 195px;
}

.mam:hover {
  color: #fff;
  background-color: #1a1a1a;
  box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
  transform: translateY(-2px);
}

.form {
  margin: auto;
  margin-top: 200px;
  margin-bottom: 200px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  gap: 10px;
  width: 50%;
  height: 400px;
  background: #212121;
  box-shadow: 10px 10px 10px #181818;
  padding: 40px;
  border-radius: 10px;
}

@media (max-width: 768px) {
  .form {
    width: 80%;
    margin-top: 60px;
    margin-bottom: 100px;
  }
}

@media (max-width: 480px) {
  .form {
    width: 90%;
    margin-top: 30px;
    margin-bottom: 50px;
    padding: 20px;
  }
}

.form .title {
  margin: auto;
  margin-bottom: 20px;
  color: rgb(255, 255, 255);
  font-size: 30px;
  font-weight: 600;
  letter-spacing: -1px;
  line-height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.form input {
  outline: 0;
  border: 1px solid rgb(219, 213, 213);
  border-radius: 8px;
  width: 100%;
  height: 50px;
}

.form textarea {
  border-radius: 8px;
  height: 100px;
  width: 100%;
  resize: none;
  outline: 0;
  border: 1px solid rgb(219, 213, 213);
}

.form .mam {
  padding: 20px;
  margin: auto;
  margin-top: 10px;
  margin-left: 0;
}

/*Projetos*/

.habilidades-pd {
  padding-top: 93px;
}


.habilidades-pd-css {
  padding-top: 93px;
  display: flex;
  margin: auto;
  gap: 20px;
  align-items: center;
  justify-content: center;
}

.habilidades-pd h2 {
  text-align: center;
  padding-bottom: 70px;
  color: #fff;
}

.habilidades-pd-css h2 {
  text-align: center;
  color: #fff;
}

.conteiner-skills {
  margin: auto;
  display: flex;
  justify-content: center;
  gap: 37px;
  max-width: 55%;
}

.skill-box {
  height: 106px;
  width: 106px;
  background-color: #c4c4c4;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  background-repeat: no-repeat;
  background-position: center;
  transition: ease 0.3s;
}

.skill-box:hover {
  background-color: white;
  transform: scale(1.05);
}

#habilidades {
  margin: auto;
  margin-bottom: 200px;
  justify-content: center;
  align-items: center;
}

@media (max-width: 950px) {
  .conteiner-skills {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 37px;
    max-width: 300px;
  }
}

.skill-box .icones-habilidades {
  transition: ease-in-out 0.3s;
}

.skill-box:hover .icones-habilidades {
  opacity: 0;
}

.skill1 {
  background-image: url(../img/html2.svg);
}

.skill2 {
  background-image: url(../img/css2.svg);
}

.skill3 {
  background-image: url(../img/js2.svg);
}

.projetos {
  padding-top: 93px;
}

.projetos h2,
.projetos a {
  text-align: center;
}

.projetos h2 {
  text-align: center;
  padding-bottom: 70px;
  color: #fff;
}

.pro {
  position: relative;
  background-color: #c4c4c4;
  height: 300px;
  width: 430px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  overflow: hidden;
  transition: ease-in-out 0.3s;
  text-align: center;
}

.pro:hover {
  letter-spacing: 1px;
  background-color: #8a8989;
}

.pro a {
  color: #ffffff;
  transition: 0.5s;
}

.pro p {
  display: none;
  position: absolute;
  margin: auto;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 15px;
  color: #ffffff;
  background-color: rgba(70, 70, 70, 0.7);
  margin: 0;
  z-index: 1;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  text-align: center;
  width: 100%;
}

.pro:hover p {
  display: block;
  margin: auto;
  font-size: 14px;
  opacity: 1;
  width: 98%;
}

.projetos-itens {
  display: flex;
  flex-wrap: wrap;
  gap: 29.5px;
  width: 100%;
  justify-content: center;
}

.centralizador.projetos {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

@media (max-width: 1200px) {
  .projetos {
    text-align: center;
    display: flex;
    flex-direction: column;
  }

  #projetos {
    display: flex;
    justify-content: center;
  }

  .projetos-itens {
    flex-direction: column;
  }
}
@media (max-width: 950px) {
  .pro {
    max-width: 300px;
  }
}

@media (max-width: 768px) {
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
  }

  .text {
    margin: auto;
    align-items: center;
    margin-left: -145px;
  }

  .image img {
    margin: auto;
    width: 100%;
    margin-left: 100px;
  }
}

/*Sobre*/

.ajustador-2 {
  padding: 144px 0;
  display: flex;
  flex-wrap: wrap;
  gap: 67px;
  max-width: 1064px;
  margin: 0 auto;
}

.sobre-mim h2 {
  font-family: "Press Start 2P", cursive;
  font-size: 45px;
  color: white;
}

.avatar {
  width: 323px;
  height: 368px;
  cursor: pointer;
  transition: ease 1s;
}

.avatar:hover {
  transform: scale(1.05);
}

@keyframes html {
  0% {
    bottom: 0;
    left: 250px;
  }
  100% {
    bottom: 0;
    left: 50px;
  }
}

@keyframes css {
  0% {
    bottom: 0;
    left: 50px;
  }
  100% {
    bottom: 0;
    left: 250px;
  }
}

.sobre-mim {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.sobre-mim p {
  text-indent: 30px;
  font-size: 20px;
  max-width: 609.25px;
  color: white;
}

@media (max-width: 1200px) {
  .ajustador-2 {
    justify-content: center;
    text-align: center;
  }

  .avatar {
    margin-right: 60px;
  }

  h2 {
    font-size: 30px;
  }

  .ajustador-2 p {
    font-size: 15px;
  }
  .sobre-mim p {
    text-indent: 0;
  }
}

@media (max-width: 950px) {
  .circulo {
    display: none;
  }
  .ajustador-2 {
    max-width: 350px;
    padding: 70px 30px;
  }

  .avatar {
    margin-right: 0;
  }
}

/*Formação, AtuaçãoPro, HTML, CSS, Java*/

.cardl {
  display: flex;
  flex-direction: column;
  margin: auto;
  background-color: #646464;
  margin-top: 20px;
  margin-bottom: 100px;
  height: 30%;
  width: 50%;
  border-radius: 20px;
  overflow: hidden;
}

.cardl h2,
h3 {
  color: #fff;
  display: flex;
  margin: auto;
  align-items: center;
  bottom: 0px;
}

.cardl ul {
  color: white;
  top: 10px;
}

iframe {
  display: flex;
  margin: auto;
  width: 90%;
  height: 300px;
  margin-top: 30px;
  margin-bottom: 30px;
  justify-content: center;
  border-radius: 20px;
}
